.jumbotron{
    padding: 0.5em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron h1 {
	vertical-align: baseline;
	margin: 20px;
}

body {
	background-color: #f2f2f2;
}

.logoutButton {
	float: right;
}

ul {
	 list-style-type: none;
}

.fieldType {
	text-align:right;
}

.post-description{
	color: #999;
}

.post-contact {
	cursor: text;
}

/* Charity Side-Bar */
p{
	margin: 0;
	padding: 0;
}

p.post-name{
	font-size: 24pt;
	font-weight: bold;
}
p.post-donor{
	font-size: 14pt;
	font-style: italic;
}

.claimed-btn, .completed-btn, .expired-btn{
	width: 100%;
	margin-bottom: 4px;
	border-color: grey;
	border-width: 2px !important;
}
.posting{
	box-shadow: var(--std-shadow);
	margin-bottom: 1rem;
	cursor: pointer;
	transition: .2s;
}

.posting:hover{
	box-shadow: var(--hov-shadow);
	transform: translateY(-.1rem);
}

li {
	list-style: none;
}

.panel.posting {
	border: none;
	animation: fadein-small .2s;
}

.adding {
	cursor: pointer;
	transition: .2s;
}
.adding:hover{
  box-shadow: var(--hov-shadow);
  transform: translateY(-.1rem);
}
.adding-btn{
	color: var(--gradientgreen);
}


.submit-text {
	transition: .2s;
}
.panel:hover .submit-text{
	color: var(--gradientgreen);
}

/* panel expansion stuff */
/* the hidden body text of the panel */
.panel-hidden {
	display: none;
}

.material-icons.bottomright {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	transition: .15s;
	font-size: 24pt;
	cursor: pointer !important;
}

.expander {
	color: #bbb;
}

.expander.flipped:hover {
	color: var(--gradientgreen);
}

.flipped {
	transform: rotate(180deg);
}

.material-icons.expander:not(.flipped), .posting:not(:hover) .material-icons.expander {
	display: none !important;
}

.pickup-time {
	color: #bbb;
}

.map{
  width: 98%;
  margin-left: 1%;
	border-right-width: : 1px;
	border-bottom-width: 1px;
	border-color: #f0f0f0;
}
