.jumbotron{
    padding: 0.5em 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron h1 {
	vertical-align: baseline;
	margin: 20px;
}

body {
	background-color: #f2f2f2;
}

.logoutButton {
	float: right;
}

ul {
	 list-style-type: none;
}

.fieldType {
	text-align:right;
}

.post-description{
	color: #cccccc
}

/* Charity Side-Bar */
p{
	margin: 0;
	padding: 0;
}

p.post-name{
	font-size: 24pt;
	font-weight: bold;
}
p.post-donor{
	font-size: 14pt;
	font-style: italic;
}

.claimed-btn, .completed-btn, .expired-btn{
	width: 100%;
	margin-bottom: 4px;
	border-color: grey;
	border-width: 2px !important;
}
.posting{
	box-shadow: var(--std-shadow);
	margin-bottom: 1rem;
	cursor: pointer;
	transition: .1s;
}

.posting:hover{
	box-shadow: var(--hov-shadow);
	transform: translateY(-.1rem);
}

li {
	list-style: none;
}

.panel.posting {
	border: none;
	animation: fadein-small .2s;
}