/* root global variables */
:root {
	--gradient: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
	--gradientgreen: #43e97b;
	--gradientblue: #38f9d7;
	--std-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	--hov-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.3);
	--std-radius: 3px;
}

html {
	margin: 0;
	padding: 0;
	width: 100vw;
}

body {
	font-family: "Open Sans";
	overflow-x: hidden;
}

/* the heading font for the logo */
.maintitle {
	font-family: "Patua One";
	/* no selecting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	                      supported by Chrome and Opera */
}

/* for adding the standard gradient to a jumbotron bg */
.bg-gradient {
	background-color: rgba(0, 0, 0, 0);
	background-image: var(--gradient);
	color: white;
	border: none;
}

p {
	font-size: 12pt;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(5rem);
	}
}

@keyframes fadein-small {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
}

/* for google material design icons */
.large-icon {
	font-size: 48pt !important;
}

.gradient-btn {
	color: white;
	background-color: var(--gradientgreen);
	border: none;
	cursor: pointer;
	transition: .2s;
	padding: 14px 0;
	height: auto;
	text-transform: uppercase;
}
.gradient-btn:hover {
	background-color: var(--gradientblue);
}
.gradient-btn:active {
	background-color: var(--gradientgreen);
	transform: translateY(.1rem);
}